<h4>{{name}}</h4>

<h5>Presentations</h5>
<ul>
  {{#each presentations}}
    <li>{{title}}</li>
  {{/each}}
</ul>


{{#if isEditing}}
  <p>{{input type="text" value=title}}</p>
	<button {{action 'doneEditing' 'createPresentation' }}>Save Presentation</button>
{{else}}
	<button {{action 'edit'}}>Add Presentation</button>
{{/if}}
